.game h1 {
    font-size: 2.5em;
}

.points span {
    font-weight: bold;
}

.tip span {
    color: #e91515;
    font-size: 1.5em;
}

.wordContainer {
    max-width: 600px;
    margin: 1.5em auto;
    padding: 1.5em;
    border: 10px solid #000;
    border-radius: 10px;
    display: flex;
    /* Resto do código */
}

.letter,
.blankSquared {
    font-size: 4vw; /* Altere o valor conforme necessário */
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.letterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Resto do código */
}

.letterContainer p {
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 0.8em;
    border: none;
    text-transform: uppercase;
}