@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');

:root {
    --fonte1: 'Tektur', cursive;
  }
html, body {
    height: 100%;
}
body {
    font-family: var(--fonte1);
    margin: 0;
    padding: 0;
    background: linear-gradient(
        180deg,
        #75DB4E 0%,
        #00000034 100%
    );
    color: #fff;
}
button {
    background: #75DB4E;
    color: #fff;
    padding: 2px 40px;
    border: 2px solid #fff;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6em;
    cursor: pointer;
    transform: 0.4s;
}
button:hover{
    background-color: #65bd43;
}